# 3C Rrs Calculation

In [5]:
import os
import sys
lib_path = os.path.abspath(os.path.join(os.path.abspath(''), 'functions/'))
sys.path.append(lib_path)
lib_path = os.path.abspath(os.path.join(os.path.abspath(''), 'rrs_model_3C-master/'))
sys.path.append(lib_path)
# need to append our functions dir to the path! 
import dalecLoad as dl

import pandas as pd
import numpy as np
import statistics
import matplotlib.pyplot as plt
import spectralConv
import seaborn as sns

import datetime

from scipy.signal import savgol_filter

from rrs_model_3C import rrs_model_3C

ModuleNotFoundError: No module named 'theano'

In [2]:
log = dl.load_DALEC_dir('data/logs_81_84/', file_names=['LOG_0084.dtf'])

loading ... data/logs_81_84/LOG_0084.dtf
WARNING: some of my old code wont work with integerIndex=True - delete this line once this is sorted

In [3]:
log_re = dl.resampleMultiLog(log, freq='5min')

In [4]:
log_re

                                          Saturation Flag  Spectral Magnitude
Channel spectral_ind Datetime
Ed      21           2022-08-10 10:00:00              0.0            0.394465
                     2022-08-10 10:05:00              0.0            0.402185
                     2022-08-10 10:10:00              0.0            0.409287
                     2022-08-10 10:15:00              0.0            0.412743
                     2022-08-10 10:20:00              0.0            0.411384
...                                                   ...                 ...
Lu      220          2022-08-10 13:35:00              0.0            0.000364
                     2022-08-10 13:40:00              0.0            0.000337
                     2022-08-10 13:45:00              0.0            0.000329
                     2022-08-10 13:50:00              0.0            0.000343
                     2022-08-10 13:55:00              0.0            0.000340

[28800 rows x 2 columns]